<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${processname:fullName=false}|${processid}|${threadid}|${mdlc:item=TransactionId}|${callsite}|${message}" />
    <target xsi:type="Debugger" name="debuglog"  layout="${longdate}|${level}|${processname:fullName=false}|${processid}|${threadid}|${mdlc:item=TransactionId}|${callsite}|${message}" />
    <target name="logfile" xsi:type="File" fileName="file.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="debuglog" />
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>
